<div id="clients" class="tab-content active">
    <div class="section-header">
        <h2><i class="fas fa-users"></i> Управление клиентами</h2>
        <button class="btn-primary" id="add-client-btn">
            <i class="fas fa-plus"></i> Добавить клиента
        </button>
    </div>
    <div class="table-container">
        <div class="table-container">
            <table class="data-table" id="clients-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Телефон</th>
                        <th>Дата регистрации</th>
                    </tr>
                </thead>
                <tbody id="clients-table-body">
                    <!-- Динамически заполняется -->
                </tbody>
            </table>
        </div>
    </div>
</div>