<header class="header">
    <div class="logo">
        <i class="fas fa-spa"></i>
        <h1 style="font-family: Lobster, serif;">Beauty Violett</h1>
    </div>
    <div class="header-center">
        <span class="center-text" style="font-family: Lobster, serif;">Салон красоты</span>
    </div>
</header>